* {
    font-size: 50px;
    font-family: monospace;
}

.keys {
    display: grid;
    grid-template: repeat(6, 100px) / repeat(4, 100px);
    place-content: center;
    gap: 1px 1px;
}

.keys button {
    border-radius: 5px;
}

#box {
    font-size: 75px;
    grid-area: 1 / 1 / 2 / 5;
    place-self: center end;
}

.num {
    background-color: gray
}

.op {
    background-color: orange;
}

.zero {
    grid-area: -2 / 1 / -1 / 3;
}